<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header"/>
  <script type="text/javascript" src="../js/admin/guest.js"/>
</head>

<body>
<nav th:replace="fragments/navbar"></nav>
<div class="container-fluid" style="padding-top: 1em">
  <div class="row">
    <div class="col-md-2"/>
    <div class="col-md-8">
      <div style="overflow: auto; margin-bottom:1em">
        <h1 style="float:left">Guests</h1>
        <!--<button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#guestModal">Add</button>-->
      </div>
      <table id="guestTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Attendance</th>
          <th>Food</th>
          <th>Dietary Concerns</th>
          <th>Dietary Comments</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"/>
  </div>
</div>
<!--<div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModal" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Add Guest</h3>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<form id="guestModalForm" method="post">-->
          <!--<div class="form-row">-->
            <!--<div class="col mb-3">-->
              <!--<label for="inputFirstName">First name</label>-->
              <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Text</span>-->
                <!--<input id="inputFirstName" type="text" class="form-control" placeholder="First Name"/>-->
                <!--<div id="firstNameFeedback" class="invalid-feedback" style="padding-left: 1em"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="col mb-3">-->
              <!--<label for="inputLastName">Last name</label>-->
              <!--<div class="input-group">-->
                <!--<span class="input-group-addon">Text</span>-->
                <!--<input id="inputLastName" type="text" class="form-control" placeholder="Last Name"/>-->
                <!--<div id="lastNameFeedback" class="invalid-feedback" style="padding-left: 1em"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="submit" class="btn btn-primary" form="guestModalForm">Save changes</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</body>
</html>