<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta th:replace="fragments/header" />
  <script type="text/javascript" th:src="@{/js/admin/guest.js}"></script>
</head>

<body>
<nav th:replace="fragments/navbar"></nav>
<div class="container-fluid" style="padding-top: 1em">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div style="overflow: auto; margin-bottom:1em">
        <h1 style="float:left">Guests</h1>
      </div>
      <table id="guestTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Ceremony Attendance</th>
          <th>Reception Attendance</th>
          <th>Food</th>
          <th>Dietary Concerns</th>
          <th>Dietary Comments</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<input id="canAdminEdit" type="text" th:value="${canAdminEdit}" hidden="hidden"/>
<div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModal" aria-hidden="true"></div>
</body>
</html>