<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>

<div class="modal-dialog modal-lg" role="document" th:fragment="foodModalContent(title)">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" th:text="${title}">Food</h3>
    </div>
    <div class="modal-body">
      <!--TODO: Fix form post action to use thymeleaf instead of javascript-->
      <form id="foodModalForm" method="post" th:action="'javascript:submitFoodForm();'">
        <div class="form-row">
          <div class="col mb-3">
            <label for="inputFoodType">Food Type</label>
            <div class="input-group">
              <input id="inputFoodType" type="text" class="form-control" th:field="*{food.type}"/>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3">
            <label for="inputDescription">Description</label>
            <div class="input-group">
              <input id="inputDescription" type="text" class="form-control" th:field="*{food.description}"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button id="foodModalSubmitButton" type="submit" class="btn btn-primary" form="foodModalForm">Save changes</button>
    </div>
  </div>
</div>

</body>
</html>