<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<div th:fragment="commonRsvpForm">
  
  <label th:for="attendanceRadioDiv+${rowStat.index}">Attendance</label>
  <div th:id="attendanceRadioDiv+${rowStat.index}" class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" th:id="attendanceRadio+${rowStat.index}+A" name="radio-stacked"
           th:field="${invitation.guestList[__${rowStat.index}__].attendance}" th:value="true"
           th:errorclass="is-invalid"/>
    <label class="custom-control-label" th:for="attendanceRadio+${rowStat.index}+A">Yes</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" th:id="attendanceRadio+${rowStat.index}+B" name="radio-stacked"
           th:field="${invitation.guestList[__${rowStat.index}__].attendance}" th:value="false"
           th:errorclass="is-invalid"/>
    <label class="custom-control-label" th:for="attendanceRadio+${rowStat.index}+B">No</label>
    <div th:errors="*{invitation.guestList[__${rowStat.index}__].attendance}" class="invalid-feedback"></div>
  </div>
  
  <label th:for="foodSelect+${rowStat.index}" class="mt-3">Food</label>
  <select class="custom-select custom-select-md" th:id="foodSelect+${rowStat.index}"
          th:field="${invitation.guestList[__${rowStat.index}__].food.id}" th:errorclass="is-invalid">
    <option selected="selected" value="" >Please Select A Meal</option>
    <option th:each="food : ${foodList}" th:text="${food.type}" th:value="${food.id}"></option>
  </select>
  <div th:errors="${invitation.guestList[__${rowStat.index}__].food.id}" class="invalid-feedback"></div>
  
  <label th:for="dietaryConcernRadioDiv+${rowStat.index}" class="mt-3">Dietary Concern</label>
  <div th:id="dietaryConcernRadioDiv+${rowStat.index}" class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" th:id="dietaryConcernRadio+${rowStat.index}+A" name="radio-stacked"
           th:field="${invitation.guestList[__${rowStat.index}__].dietaryConcerns}" th:value="true"
           th:errorclass="is-invalid"/>
    <label class="custom-control-label" th:for="dietaryConcernRadio+${rowStat.index}+A">Yes</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" th:id="dietaryConcernRadio+${rowStat.index}+B" name="radio-stacked"
           th:field="${invitation.guestList[__${rowStat.index}__].dietaryConcerns}" th:value="false"
           th:errorclass="is-invalid"/>
    <label class="custom-control-label" th:for="dietaryConcernRadio+${rowStat.index}+B">No</label>
    <div th:errors="${invitation.guestList[__${rowStat.index}__].dietaryConcerns}" class="invalid-feedback"></div>
  </div>
  
  <label th:for="inputDietaryComments+${rowStat.index}" class="mt-3">Dietary Comments</label>
  <div class="input-group">
    <input th:id="inputDietaryComments+${rowStat.index}" type="text" class="form-control"
           th:field="${invitation.guestList[__${rowStat.index}__].dietaryComments}" th:errorclass="is-invalid"/>
    <div th:errors="${invitation.guestList[__${rowStat.index}__].dietaryComments}" class="invalid-feedback"></div>
  </div>

</div>

</body>
</html>