<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>

<form id="rsvpForm" method="post" th:action="@{/rsvp/saveRsvp}" style="margin-top: 5em" th:fragment="rsvpForm">
  
  <h2>Guest List</h2>
  <th:block th:with="invitedGuestIndicies=${invitation.getInvitedGuestIndicies()}">
    <th:block th:each="guestIndex,rowStat : ${invitedGuestIndicies}">
      <div class="row" th:if="(${rowStat.index}%2)==0">
        <div class="col-lg" th:if="${rowStat.index} lt ${invitedGuestIndicies.size()}">
          <div class="card" style="color: black">
            <h3 style="display: inline-block;" class="card-header"
                th:text="${invitation.guestList[__${invitedGuestIndicies[rowStat.index]}__].firstName}+' '+${invitation.guestList[__${invitedGuestIndicies[rowStat.index]}__].lastName}">
              Guest Name</h3>
            <div class="card-body">
              <div
                  th:replace="fragments/rsvp/rsvp_form_content_fragment :: commonRsvpForm(${invitedGuestIndicies[rowStat.index]})"></div>
            </div>
          </div>
        </div>
        <div class="col-lg" th:if="${rowStat.index+1} lt ${invitedGuestIndicies.size()}">
          <div class="card" style="color: black">
            <h3 style="display: inline-block;" class="card-header"
                th:text="${invitation.guestList[__${invitedGuestIndicies[rowStat.index+1]}__].firstName}+' '+${invitation.guestList[__${invitedGuestIndicies[rowStat.index+1]}__].lastName}">
              Guest Name</h3>
            <div class="card-body">
              <div
                  th:replace="fragments/rsvp/rsvp_form_content_fragment :: commonRsvpForm(${invitedGuestIndicies[rowStat.index+1]})"></div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>
  
  <div th:if="${!invitation.getAdditionalGuestIndicies().isEmpty()}">
    <div style="margin-top: 3em">
      <h4>Additional Guests</h4>
      <th:block th:with="additionalGuestIndicies=${invitation.getAdditionalGuestIndicies()}">
        <th:block th:each="guestIndex,rowStat : ${additionalGuestIndicies}">
          <div class="row" th:if="(${rowStat.index}%2)==0">
            <div class="col-lg" th:if="${rowStat.index} lt ${additionalGuestIndicies.size()}">
              <div class="card" style="color: black">
                <div class="card-header">
                  <button type="button" class="btn btn-light btn-sm"
                          th:onclick="'javascript:removeAdditionalGuest('+${additionalGuestIndicies[rowStat.index]}+');'">
                    <i class="fas fa-window-close" aria-hidden="true"></i>
                  </button>
                  <h3 style="display: inline-block;" th:text="'Guest '+${rowStat.index+1}">Guest Name</h3>
                </div>
                <div class="card-body">
                  <div class="mb-4">
                    <div><b>First Name</b></div>
                    <input th:id="additionalFirstName+${additionalGuestIndicies[rowStat.index]}" type="text"
                           class="form-control"
                           th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].firstName}"
                           th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].firstName}"
                         class="invalid-feedback"></div>
                    <div><b>Last Name</b></div>
                    <input th:id="additionalLastName+${additionalGuestIndicies[rowStat.index]}" type="text"
                           class="form-control"
                           th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].lastName}"
                           th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].lastName}"
                         class="invalid-feedback"></div>
                  </div>
                  <div
                      th:replace="fragments/rsvp/rsvp_form_content_fragment :: commonRsvpForm(${additionalGuestIndicies[rowStat.index]})"></div>
                </div>
              </div>
            </div>
            <div class="col-lg" th:if="${rowStat.index+1} lt ${additionalGuestIndicies.size()}">
              <div class="card" style="color: black">
                <div class="card-header">
                  <button type="button" class="btn btn-light btn-sm"
                          th:onclick="'javascript:removeAdditionalGuest('+${additionalGuestIndicies[rowStat.index+1]}+');'">
                    <i class="fas fa-window-close" aria-hidden="true"></i>
                  </button>
                  <h3 style="display: inline-block;" th:text="'Guest '+${rowStat.index+2}">Guest Name</h3>
                </div>
                <div class="card-body">
                  <div class="mb-4">
                    <div><b>First Name</b></div>
                    <input th:id="additionalFirstName+${additionalGuestIndicies[rowStat.index+1]}" type="text"
                           class="form-control"
                           th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].firstName}"
                           th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].firstName}"
                         class="invalid-feedback"></div>
                    <div><b>Last Name</b></div>
                    <input th:id="additionalLastName+${additionalGuestIndicies[rowStat.index+1]}" type="text"
                           class="form-control"
                           th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].lastName}"
                           th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].lastName}"
                         class="invalid-feedback"></div>
                  </div>
                  <div th:replace="fragments/rsvp/rsvp_form_content_fragment :: commonRsvpForm(${additionalGuestIndicies[rowStat.index+1]})"></div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </th:block>
    </div>
  </div>
</form>

</body>
</html>