<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header"/>
</head>

<body style="min-height: 100vh; background:#0C2449">
<nav th:replace="fragments/navbar"></nav>
<div class="container-fluid" style="background-image: url('/images/1000625.png'); background-repeat: repeat-x;">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="background-color:#D3D3D3;min-height: 100vh;border-radius: 25px; margin: 5em auto">
      
      <p>We hope you can join us but please fill out the form below (Some Text Here I dont really know what to put)</p>
      
      <form id="rsvpForm" method="post" th:action="@{/rsvp/submit}" style="margin-top: 5em">
        
        <h2>Guest List</h2>
        <div th:each="guest,rowStat : ${invitation.guestList}">
          <div class="invitedGuestDiv" style="padding-left:2em" th:if="${guest.invitedPerson}">
            
            
            <h4 th:text="${guest.firstName}+' '+${guest.lastName}"></h4>
            
            
            <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm"></div>
          
          </div>
        
        
        </div>
        
        <div style="margin-top: 5em" th:if="${invitation.guestList.size() le invitation.maxGuests}">
          <h4>Additional Guests</h4>
          <div th:each="guest,rowStat : ${invitation.guestList}">
            <div class="additionalGuestDiv" style="padding-left:2em" th:if="!${guest.invitedPerson}">
              
              <div class="form-row">
                <div class="col mb-3">
                  <label for="inputFirstName">First Name</label>
                  <div class="input-group">
                    <input id="inputFirstName" type="text" class="form-control"
                           th:field="${invitation.guestList[__${rowStat.index}__].firstName}"/>
                  </div>
                </div>
              </div>
              
              <div class="form-row">
                <div class="col mb-3">
                  <label for="inputLastName">Last Name</label>
                  <div class="input-group">
                    <input id="inputLastName" type="text" class="form-control"
                           th:field="${invitation.guestList[__${rowStat.index}__].lastName}"/>
                  </div>
                </div>
              </div>
              
              
              <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm"></div>
            </div>
          </div>
        
        
        </div>
        <button th:if="${invitation.guestList.size() lt invitation.maxGuests}" type="submit" form="rsvpForm"
                name="action" value="addAdditionalGuest">Add Additional Guest
        </button>
      
      
      </form>
      <button type="submit" class="btn btn-primary" form="rsvpForm" name="action" value="saveInvitationRsvp">Submit
      </button>
    </div>
    <div class="col-2"></div>
  </div>

</div>
</body>
</html>