<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header"/>
</head>

<body style="min-height: 100vh; background:#0C2449">
<nav th:replace="fragments/navbar"></nav>
<div class="container-fluid" style="background-image: url('/images/1000625.png'); background-repeat: repeat-x;">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="margin-top: 5em; min-height: 100vh">
      <div class="alert alert-danger" role="alert" >
        <div style="padding: 0 50%"><i class="fa fa-exclamation-triangle fa-3x"></i></div>
        <strong th:text="'Oh snap! '+${errorMessage}">Oh snap!</strong>
        <p>Please check your Invitation and try again. If the problem persists please call and let one of us know.</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

</div>
</body>
</html>