<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/rsvp/rsvp.css}" rel="stylesheet"/>
  <div th:replace="fragments/header"/>
</head>

<body id="body">
<header>
  <nav th:replace="fragments/navbar"></nav>
</header>
<main>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="margin: 5em auto">
      
      <p>We hope you can join us but please fill out the form below (Some Text Here I dont really know what to put)</p>
      
      <form id="rsvpForm" method="post" th:action="@{/rsvp/submit}" style="margin-top: 5em">
        
        <h2>Guest List</h2>
        <th:block th:with="invitedGuestIndicies=${invitation.getInvitedGuestIndicies()}">
        <th:block th:each="guestIndex,rowStat : ${invitedGuestIndicies}">
          <div class="row" th:if="(${rowStat.index}%2)==0">
            <div class="col" th:if="${rowStat.index} lt ${invitedGuestIndicies.size()}">
              <div class="card" style="color: black">
                <h5 class="card-header" th:text="${invitation.guestList[__${invitedGuestIndicies[rowStat.index]}__].firstName}+' '+${invitation.guestList[__${invitedGuestIndicies[rowStat.index]}__].lastName}">Guest Name</h5>
                <div class="card-body">
                  <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm(${invitedGuestIndicies[rowStat.index]})"></div>
                </div>
              </div>
            </div>
            <div class="col" th:if="${rowStat.index+1} lt ${invitedGuestIndicies.size()}">
              <div class="card" style="color: black">
                <h5 class="card-header" th:text="${invitation.guestList[__${invitedGuestIndicies[rowStat.index+1]}__].firstName}+' '+${invitation.guestList[__${invitedGuestIndicies[rowStat.index+1]}__].lastName}">Guest Name</h5>
                <div class="card-body">
                  <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm(${invitedGuestIndicies[rowStat.index+1]})"></div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
        </th:block>
        
        <div style="margin-top: 5em">
          <h4>Additional Guests</h4>
          
          <th:block th:with="additionalGuestIndicies=${invitation.getAdditionalGuestIndicies()}">
          <th:block th:each="guestIndex,rowStat : ${additionalGuestIndicies}">
            <div class="row" th:if="(${rowStat.index}%2)==0">
              <div class="col" th:if="${rowStat.index} lt ${additionalGuestIndicies.size()}">
                <div class="card" style="color: black">
                  <h5 class="card-header" th:text="'Guest '+${rowStat.index+1}">Guest Name</h5>
                  <div class="card-body">
                    <label th:for="additionalFirstName+${additionalGuestIndicies[rowStat.index]}">First Name</label>
                    <input th:id="additionalFirstName+${additionalGuestIndicies[rowStat.index]}" type="text" class="form-control" th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].firstName}" th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].firstName}" class="invalid-feedback"></div>
                    <label th:for="additionalLastName+${additionalGuestIndicies[rowStat.index]}">Last Name</label>
                    <input th:id="additionalLastName+${additionalGuestIndicies[rowStat.index]}" type="text" class="form-control" th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].lastName}" th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index]}__].lastName}" class="invalid-feedback"></div>
                    <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm(${additionalGuestIndicies[rowStat.index]})"></div>
                  </div>
                </div>
              </div>
              <div class="col" th:if="${rowStat.index+1} lt ${additionalGuestIndicies.size()}">
                <div class="card" style="color: black">
                  <h5 class="card-header" th:text="'Guest '+${rowStat.index+2}">Guest Name</h5>
                  <div class="card-body">
                    <label th:for="additionalFirstName+${additionalGuestIndicies[rowStat.index+1]}">First Name</label>
                    <input th:id="additionalFirstName+${additionalGuestIndicies[rowStat.index+1]}" type="text" class="form-control" th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].firstName}" th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].firstName}" class="invalid-feedback"></div>
                    <label th:for="additionalLastName+${additionalGuestIndicies[rowStat.index+1]}">Last Name</label>
                    <input th:id="additionalLastName+${additionalGuestIndicies[rowStat.index+1]}" type="text" class="form-control" th:field="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].lastName}" th:errorclass="is-invalid"/>
                    <div th:errors="${invitation.guestList[__${additionalGuestIndicies[rowStat.index+1]}__].lastName}" class="invalid-feedback"></div>
                    <div th:replace="fragments/rsvp/rsvp_fragments :: commonRsvpForm(${additionalGuestIndicies[rowStat.index+1]})"></div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
          </th:block>
        </div>
        <button th:if="${invitation.guestList.size() lt invitation.maxGuests}" type="submit" form="rsvpForm"
                name="action" value="addAdditionalGuest">Add Additional Guest
        </button>
      
      
      </form>
      <button type="submit" class="btn btn-primary" form="rsvpForm" name="action" value="saveInvitationRsvp">Submit
      </button>
    </div>
    <div class="col-2"></div>
  </div>

</div>
</main>
<footer></footer>
</body>
</html>