/* Had to use id to override bootstrap settings for background */
#body{
    color: white;
    background-color: #1b3e5e;
    background-image: url(/images/asfalt-light.png);
}

nav {
    background-color: silver;
    color: black;
}