<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/stories/stories.css}" rel="stylesheet"/>
  <div th:replace="fragments/header"></div>
</head>
<body  id="body">
<header>
  <nav th:replace="fragments/navbar"></nav>
</header>
<main>
<p>Our story began in the Spring of 2011 at a restaurant in Solon, Ohio. Bryan was home for the summer from The Ohio
  State University to work and Erica had been working as a hostess. Over the next 6 months we became closer friends
  until we had our first date on November 26th. They maintained a long distance relationship while Erica was getting her
  Bachelor and Master degrees in Cleveland and Bryan graduating then obtaining a job in Columbus. There have been many
  weekend commutes and Skype dates throughout the years but then in October of 2017 Bryan and Erica planned a weekend
  getaway to Niagara Falls. On the second day of our trip we had an adventurous morning exploring and in the afternoon
  went to view the rapids of the falls where Bryan popped the question! It was a beautiful view and unforgettable
  moment.
</p>
</main>
</body>
</html>